<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Home</title>
</head>
<body>
    <h1>Menu de objetos</h1>
    <button onclick="window.location.href='/criarAutomovel'">Criar Automóvel</button>
    <button onclick="window.location.href='/criarSeguradora'">Criar Seguradora</button>
    <button onclick="window.location.href='/criarFatura'">Criar Fatura</button>
    <button onclick="window.location.href='/mostrarDados'">Mostrar</button>
    
</body>
</html>