<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Inserir Seguradora</title>
</head>
<body>
    <form action="{% url 'criarSeguradoraBD' %}" method="POST" class="mt-5">
        {% csrf_token %}
        <h2>Inserir Seguradora</h2>

        <label>NIF da Seguradora</label>
        <input type="number" name="nif_seguradora" id="nif_seguradora" required>
        <br>

        <label>Nome</label>
        <input type="text" name="nome" id="nome" required>
        <br>

        <label>Morada</label>
        <input type="text" name="morada" id="morada">
        <br>

        <label>Contacto</label>
        <input type="text" name="contacto" id="contacto">
        <br>

        <label>Website</label>
        <input type="text" name="website" id="website">
        <br>

        <label>Email</label>
        <input type="email" name="email" id="email">
        <br>

        <button type="submit" class="btn btn-success my-3">Submit</button>
    </form>

    {% if success %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Seguradora criada com sucesso!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
</body>
</html>
