<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Inserir Tipo de Utilizador</title>
</head>
<body>
    <form action="{% url 'criarTipoUtilizadorBD' %}" method="POST" class="mt-5">
        {% csrf_token %}
        <h2>Inserir Tipo de Utilizador</h2>

        <label>Descrição</label>
        <input type="text" name="descricao" id="descricao" required>
        <br>

        <button type="submit" class="btn btn-success my-3">Submit</button>
    </form>

    {% if success %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Tipo de utilizador criado com sucesso!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
</body>
</html>
